/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require font-awesome
 *= require_tree .
 *= require_self
 */

@import "bootstrap-sprockets";
@import "bootstrap";

.parallax {
    /* The image used */
    background-image: url('/assets/bg.jpg');

    /* Set a specific height */
    height: 100%;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

h1, h2, h3, p {
  color: whitesmoke !important;
  text-shadow: 1px 1px 2px black;
}
label {
  color: whitesmoke !important;
  font-size: 30px;
  text-shadow: 1px 1px 2px black;
}
.container {
  background-color: #56B7E6;
  border-radius: 25px;
}
.alert-div{
  margin-left: 12.5%;
  width: 75%;
}
